/*
$vaalea_2: #d7d7d9; // 2. vaalein
$tumma_2: #3e3e40; // 2. tummin
$keskisavy: #8d95a6; // keskisävy
$vaalea_1:#f2f2f2; // Vaalein
$tumma_1:#0d0d0d; // Tummin
*/
/* Kaikkiin */
* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    background: #f2f2f2;
    color: #3e3e40;
    font-family: 'Noto Sans', Verdana, sans-serif;
    font-size: medium;
    font-weight: 300;
    word-wrap: break-word;
}
h1, h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Noto Serif',Georgia, Garamond, serif;
}
header, footer {
    position: fixed;
    padding-bottom: 2px;
    z-index: 100;
    background:#8d95a6;
    color: #f2f2f2; 
    width: 100%;
}
header {
    top:0;
    font-size: large;
    
    height: 50px;
}
footer {
    position: fixed;
    bottom:0;
 
}
footer>h1 {
    font-size:larger;
}
header>h1, footer>h1 {
    color: #f2f2f2; 
    max-width: 900px;
    left: auto;
    right: auto;
    margin:0 auto;
    padding-bottom: 2px;
}
.serif {
    font-family: 'Noto Serif',Georgia, Garamond, serif;
}
#hallinta {
    position: relative; /*fixed was before*/
    top:50px;
    font-weight: 400;
    font-family: 'Noto Serif',Georgia, Garamond, serif;
    z-index: 100;
    margin:0 auto;
    background-color: #0d0d0d;
    color: #f2f2f2; // Vaalein
    width: 100%;
    /*display: flex;*/ /*commented out*/
    /* flex: 0 0 100%;*/ /* this both are useless since there no flex elemnts there*/
    /* flex-basis: 60%; */ /* this both are useless since there no flex elemnts there*/
}
.symboli{
    display: inline-block;
}

#login {
    
}

.hidden {
    visibility: collapse;
    display: none;
}
section, article {
    display: block;
}

#hallinta span #kuvio, #hallinta>div>span {
    fill:#8d95a6; 
    color:#8d95a6;
}


#hallinta a {
    background-color: #0d0d0d;
    color: #f2f2f2;
    display: inline-block;
    margin:1px;
    
    padding: 2px 10px;
    
}

#hallinta a:hover {
    background-color: #f2f2f2;
    color: #0d0d0d; /* Vaalein*/
}

#hallinta a:hover #kuvio{
    fill: #0d0d0d;
}
#hallinta a:hover #kuvio2 {
    fill: #3e3e40; /* 2. tummin */
}

main {
    width: inherit;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    //flex-basis: 60%;
    margin-top:110px;
    margin-left:auto;
    margin-bottom:2%;
    margin-right:  auto;
    
    
    padding-bottom:6px;
    max-width: 600px;
    left:auto;
    right: auto;
}
main div {
    width: auto;
}
main> * {
    padding:0 1%;
}
main h3 {
    font-size: large;
    font-weight: bolder;
}
main p {    
    padding-left: 2%;
    font-family: 'Noto Sans', Verdana, sans-serif;
    font-weight: 400;
    color: #3e3e40; /* 2. tummin */
}

section {
    /*max-width: 65ch;*/ /* commented out to align with container*/
    background: #d7d7d9; /* 2. vaalein */
}

/*
#hallinta > div > a > span {
    display: none;
    visibility: collapse;
}*/
.article a {
    display: block;
    float: right;
    text-align: right;
}

.tiivis {
    max-height: 5px;
    overflow-y:hidden;
}
hr{
    margin:0;
    padding: 0;
    height:1px;
    background-color: #f2f2f2; /* #8d95a6;*/
}
hr.otsikoidenValit {
    height:4px;
}
h3 {
    margin-bottom: 0;
    padding-bottom:0;
}
p{
    padding-bottom: 1px;
    margin-left: 1%;
}
b {
    font-weight: 700;
}
.o_linkki{
    padding:5px 0;
}
.o_linkki:hover {
    background-color: #8d95a6;
    color:#f2f2f2;
}

.oma {
    opacity:90%; /*changed opacity as Mika asked in his bug*/
    background-color:#f2f2f2; /* #8d95a6;*/
    background-blend-mode: soft-light;
    cursor: move;
    color:#3e3e40;
    background-size: auto;
    background-position: right 10px top 5px;
    background-repeat: no-repeat;
    background-image: url('/images/ohjenuoli.svg');
    background-blend-mode: darken;
}
.no-bg {
    background-color: #f2f2f2;
}

footer{
    z-index: 100;
    display: none;
    visibility: collapse;
}
#poistoon {
   /* background-color: green;*/
    float:left;
    left:0;
}
#jatkoon {
    /*background-color: red;*/
    float: right;
    right: 0;
}
#jatkoon.hilit_dz {
    
/*    opacity: 50%;*/
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/uusi_bg.png');
}
#poistoon.hilit_dz {
    background-size: contain;
    
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/poista_bg.png');
}
.dropzone {
    display: block;
    position: fixed;
    width: 10%; 
    height: 100%;
    top:0;
    z-index: -50;
}


/*added to prevent word-wrap on page oma_viestiti*/
    span.tunnus.col-sm-1{
        word-wrap: normal;
    }

/*to align items in menu*/
    .d-flex.justify-content-around.flex-nowrap.p-0 {
    align-items: baseline;
}

/* Asemoinnit eri levyisille ruuduille */
@media screen and (max-width:1050px) {
    
    #hallinta  a span, #hallinta span span {
        display: none;
        visibility: collapse;
    }
}
/* Asemoinnit eri levyisille ruuduille */
@media screen and (max-width:600px) {
    #hallinta {
        top:0;
    }
    main {
        margin-top:60px;
        margin-bottom: 70px;
    }
    
    header{
        display: none;
        visibility: collapse;
    }
    footer {
        display: block;
        visibility: visible;
    }
    /*changed paddings so they fit better*/
    #hallinta a {
        padding: 2px 2px;
    }

}